<% @story.lines.drop(1).each do |lines| %>
	<% if lines.is_f %>
		<div class="fbubble">
			<% if lines.report >= @reports_allowed %>
				<strong>[This line has been deleted.]</strong>
			<% else %>
				<strong>Fortunately, </strong><%= lines.text + "." %>
				<div class="links btn-group btn-group-xs">
					<%= link_to 'Report', stories_report_up_path(@story, lines), class: "btn btn-custom" %>
				</div>
			<% end %>
		</div>
		<div style="height:8px;"></div>
		<% else %>
		<div class="ububble">
			<% if lines.report >= @reports_allowed %>
				<strong>[This line has been deleted.]</strong>
			<% else %>
				<strong>Unfortunately, </strong><%=lines.text + "." %>
				<div class="links btn-group btn-group-xs">
					<%= link_to 'Report', stories_report_up_path(@story, lines), class: "btn btn-custom" %>
				</div>
			<% end %>
		</div>
		<div style="height:8px;"></div>
	<% end %>
<% end %>