<% @story.lines.drop(1).each do |lines| %>
	<h4>
		<% if lines.report >= @reports_allowed %>
			[This line has been deleted.]
		<% else %>
				<% if lines.is_f %>
						<%= "Fortunately, " + lines.text + "." %>
						<%= link_to 'Report', stories_report_up_path(@story, lines) %>
					<% else %>
						<%= "Unfortunately, " + lines.text + "." %>
						<%= link_to 'Report', stories_report_up_path(@story, lines) %>
				<% end %>
		<% end %>
	</h4>
<% end %>