<% @story.lines.drop(1).each do |lines| %>
	<h3>
		<% if lines.report >= 3 %>
			[This line has been deleted.]
		<% else %>
				<% if lines.is_f %>
						<%= "Fortunately, " + lines.text + "." %>
						<%= link_to 'Report', stories_report_up_path(@story, lines) %>
					<% else %>
						<%= "Unfortunately, " + lines.text + "." %>
						<%= link_to 'Report', stories_report_up_path(@story, lines) %>
				<% end %>
		<% end %>
	</h3>
<% end %>