<h1>Fortunately/Unfortunately</h1>

<% @stories.each do |story| %>
	<h2><%= link_to story.lines.first.text+".", story_path(story) %></h2>
	<% if story.lines.length > 1 %>
		<h4>
		<% if story.lines.second.report >= 3 %>
			[This line has been deleted.]
		<% else %>
				<% if story.lines.first.is_f %>
						<%= "Fortunately, " + story.lines.second.text + "." %>
					<% else %>
						<%= "Unfortunately, " + story.lines.second.text + "." %>
				<% end %>
		<% end %>
		</h4>
	<% end %>
<% end %>