<% @stories.each do |story| %>
	<h3 class="prompt-line"><%= link_to story.lines.first.text+".", story_path(story) %></h3>
	<% if story.lines.length > 1 %>
		<h4>
		<% if story.lines.last.report >= @reports_allowed %>
			[This line has been deleted.]
		<% else %>
				<% if story.lines.last.is_f %>
						<%= "Fortunately, " + story.lines.last.text + "." %>
					<% else %>
						<%= "Unfortunately, " + story.lines.last.text + "." %>
				<% end %>
		<% end %>
		</h4>
	<% end %>
<% end %>