<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">FORTUNATELY/unFORTUNTELY</h4>
      </div>
      <div class="modal-body">
        <h3>How to play:</h3>
        <div class="pbubble">
        	<strong>The Prompt gets the story started. "Bob is Building a Boat."</strong>
        </div><div style="height:8px;"></div>
        <div class="ububble">
        	<strong>Unfortunately,</strong> something bad happens. "Bob Sees a Scary Storm coming Straight at him."
        </div><div style="height:8px;"></div>
        <div class="fbubble">
        	<strong>Fortunately,</strong> something good happens. "Bob is Quick in a Quandry and Finishes the boat in a Flash. Off he goes. Sailing from the Storm."
        </div><div style="height:8px;"></div>
       	<div class='pbubble'>
       		<strong>What happens next? You decide. <br> That's it. Be creative! Don't be a dick, and have fun!</strong>
       	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>